body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.square {
  background-color: magenta;
  height: 200px;
  width: 200px;
  position: relative;
  z-index: 1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid darkslategrey;

  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.form {
  margin: 30px;
}

.thank-you-block {
  text-align: center;
}
